@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-Blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Manrope', sans-serif;
  background: url('./images/train.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100vh - 0.1px); */
  /* height: 80vh; */
  padding: 2.5rem;
  opacity: 0.5;
}

.container {
  text-align: center;
  padding: 2.5rem;
  background-color: rgb(67, 59, 59);
  position: relative;
  border-radius: 1rem;
  line-height: 2rem;
  margin:12rem auto;
}
.container h4 {
  letter-spacing: 0.3rem;
  color: rgb(246, 156, 186);
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;

}

.cat{
  width: 5rem;
  position: absolute;
  top: 9rem;
  z-index: 1;
  right:28rem ;
}

.container p {
  font-weight: 800;
  font-size: 28px;
  color: hsl(193, 38%, 86%);

}

.buttonArea {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#divider {
  width: 25rem;
  margin: 1.5rem 0;
}

.palybtn {
  background-color: rgb(87, 55, 55);
  border: 1px solid white;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.palybtn:hover {
  box-shadow: 0px 0px 26px hsl(148, 70%, 73%);
}

.palybtn img {
  margin-top: 1rem;
}

@media(min-width:500px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width:500px) and (min-width:300px) {
  .container {
    max-width: 350px;
  }

  #divider {
    width: 20rem;
  }
  .cat{
    display: none;
  }
}

@media (max-width:280px) {
  .container {
    max-width: 250px;
  }

  #divider {
    width: 13rem;
  }
}

